body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../assets/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    .row{
        margin: 0px;
    }
    a{
        list-style: none;
        text-decoration: none;
    }
}