@media screen and (min-width: 0px) and (max-width:767px){


    @mixin imgResponsive ($height){
        position: relative;
        margin-right: 0px;
        .textImg{
            width: 15rem;
            height: $height;
            animation: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
    }

    .imagen1{
        animation: none;
        @include imgResponsive (7rem);
        
     }

     @mixin colores2 ($tit, $text)
     {
        h3{
            color: $tit;
        }
        p{
            color:$text;
        } 
     }

     .imagen2{
        @include imgResponsive (4rem);
        
    }
     .nosotros{
        opacity: 0.8;
        @include colores2($c6, $c5);
     }

    .valores{
        border-top: solid 0.4rem $c4;
        opacity: 0.8;
        h3{
            color: $c6;
            margin-top: 1rem;
        }
        li{
            color: $c5;
        }
        }
    

    .servicios{
        opacity: 0.7;
        @include colores2($c6, $c5);
        
        h4{
            color: $c6;
        }
            
        ul{
            color: $c5;
        }
    }

    .ppalesServicios{
        
        h3{
            color: $c6;
            margin-top: 1rem;
        }
        ul{
            li{
                color: $c5;
            }
            
        }
    }

    .imagen3{
        @include imgResponsive (4rem);
    }
    
}

@media screen and (min-width:768px) and (max-width:1439px){
    @mixin imgResponsive2($height){
        position: relative;
        .textImg{
            width: 35rem;
            height: $height;
            animation: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .imagen1{
        @include imgResponsive2(5rem);
        
    }

    .imagen2{
        @include imgResponsive2(4rem);
        
    }

    .imagen3{
        @include imgResponsive2(4rem);
        
    }
}